

.order-summary-heading{
    text-align: center;
    margin-bottom: 40px;
}
.clear-cart-btn{
    background-color: #FF3030;
    color: white;
    display: block;
    height: 48px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 16px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clear-cart-btn p{
    margin-right: 8px;
}
.order-review-btn{
    background-color: #FF9900;
    color: white;
    display: block;
    height: 48px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 16px;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-review-btn p{
    margin-right: 8px;
}
.right-arrow{
    font-size: 20px;
}