.single-card{
    width: 286px;
    height: 510px;
    padding: 8px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.single-card img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
}
.card-info{
    margin-top: -10px;
}
.card-btn{
    height: 48px;
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-top: 1px solid #95A0A7;;
    border-radius: 0px 0px 8px 8px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.card-btn p{
    margin-right: 5px;
}
